*{
	margin: 0;
	padding: 0;
}

nav{
	font-family: 'Zilla Slab', serif;
	background-color: #0D829E;:!important;
}

#landing{
	background-color: #35264E;
}

#aboutme{
	font-family: 'Acme', sans-serif;
	font-family: 'Zilla Slab', serif;
}

#developer{
	font-family: 'Acme', sans-serif;
	font-family: 'Press Start 2P', cursive;
	font-family: 'Zilla Slab', serif;
}

#about{
	font-family: 'Acme', sans-serif;
	font-family: 'Press Start 2P', cursive;
	font-family: 'Tangerine', cursive;
	font-family: 'Zilla Slab', serif;
}

#cards{
	background-color: #CDE7F1;
}