*{
	margin: 0;
	padding: 0;
}

nav{
	font-family: 'Zilla Slab', serif;
	background-color: #0D829E;:!important;
}

#landing{
	background-color: #FFFADE;
}

#aboutme{
	font-family: 'Acme', sans-serif;
	
}

#developer{
	font-family: 'Acme', sans-serif;
	font-family: 'Press Start 2P', cursive;
	font-family: 'Zilla Slab', serif;
}

#about{
	font-family: 'Acme', sans-serif;
	
}

#projects{
	font-family: 'Acme', sans-serif;
}

#tools{
	background-image: url(./images/tools.bg.jpeg);
	width: 100%;

}

#contact{
	font-family: 'Press Start 2P', cursive;
}

#gmap_canvas{
	font-family: 'Press Start 2P', cursive;
}

#message{
	font-family: 'Press Start 2P', cursive;
}

#cards{
	background-color: #CDE7F1;
	font-family: 'Zilla Slab', serif;
}

#toolsuse{
	font-family: 'Acme', sans-serif;
}


#formus{
	background-color: F8C4B4;
}

#footer{
	font-family: 'Acme', sans-serif;
	
}